.center {
    text-align: center;
}

.button {
    color: inherit;
    text-align: center;
    align-self: center;
    padding: 5px;
    border-radius: 12px;
    background-color: rgb(186, 244, 201);
    background-blend-mode: darken;
    border-style: dashed;
}