.center {
    text-align: center;
}

.button {
    display: inline-flex;    /* makes width work properly */
    padding: 5px;
    border-radius: 12px;
    border-style: line;
    margin: auto;
    transform: translateX(-50%);
    bottom: 25px;
    position: fixed;
    left: 50%;
    transition: transform 0.2s ease-in;
    align-items: center;
    justify-content: center;
    background-color: gainsboro;

}

.button:hover {
    transform: translateX(-50%) scale(2);
}

.button a {
    display: flex;
    color: inherit;
    text-decoration: none;
    text-align: center;
    align-self: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
    justify-items: center;
    
}