body {
    background-color: hsl(184, 80%, 88%) !important;
}

p {
    margin: 5px;
}

.right-text {
    text-align: right;
}

a {
    color: inherit;
}

.centered-text1 {
    text-align: center;
    font-size: 2rem;
}

.centered-text {
    text-align: center;
    font-size: medium;
}

/*nav bar styling*/
.navbar {
    background-color: rgb(244, 199, 199);
    padding: 15px 10px;
    position: sticky;
    border-radius: 12px;
    word-spacing: 50px;
}