body {
    background-color: hsl(184, 80%, 88%) !important;
}

p {
    margin: 5px;
}

.right-text {
    text-align: right;
}

a {
    color: inherit;
}

.centered-text1 {
    text-align: center;
    font-size: 2rem;
}

.centered-text {
    text-align: center;
    font-size: medium;
}

/*nav bar styling*/
.navbar {
    flex: 1;
    background-color: rgb(244, 199, 199);
    padding: 15px 10px;
    position: sticky;
    border-radius: 12px;
    word-spacing: 50px;
}

.rights{
    text-align: center;
    font-size: 11px;
    font-family: 'Century Gothic', Arial;
    font-style: italic;
    background-color: wheat;
    border-radius: 12px;
    padding: 2px;
}

.button {
    background-color: gainsboro;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
    padding: 3px;

}

.button a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    size: 5px;
}

.button:hover {
    transform: scale(2);
}


.buttonh {
    display: inline-flex;
    background-color: gainsboro;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
    margin: 8px;


}

.buttonh a {
    color: inherit;
    display: flex;

}

.buttonh:hover {
    transform: scale(2);
}