p {
    margin: 5px;
}

.right-text {
    text-align: right;
}

a {
    color: inherit;
}

.centered-text1 {
    text-align: center;
    font-size: 2rem;
}

.centered-text {
    text-align: center;
    font-size: medium;
}

/*nav bar styling*/
.navbar {
    flex: 1;
    background: linear-gradient(-45deg,
    #ff9a9a,
    #ffdca3,
    #6d6de6,
    #ff9ed6,
    #a100a1);
    padding: 15px 10px;
    position: sticky;
    border-radius: 12px;
    word-spacing: 50px;
    animation: gradientMove 7s ease infinite;
    background-size: 400% 400%;
}

.rights{
    text-align: center;
    font-size: 11px;
    font-family: 'Century Gothic', Arial;
    font-style: italic;
    background-color: wheat;
    border-radius: 10px;
    padding: 2px;
    bottom: 20px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
}

.button {
    background-color: gainsboro;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
    padding: 3px;

}

.button a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    size: 5px;
}

.button:hover {
    transform: scale(2);
}


.buttonh {
    display: inline-flex;
    background-color: gainsboro;
    border-radius: 5px;
    transition: transform 0.2s ease-in;
    margin: 8px;


}

.buttonh a {
    color: inherit;
    display: flex;

}

.buttonh:hover {
    transform: scale(2);
}

body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(-45deg,
    #ff6b6b, 
    #feca57,
    #48dbfb, 
    #5f27cd);
    background-size: 400% 400%;
    animation: gradientMove 7s ease infinite;
    

}

@keyframes gradientMove {
    0% {background-position: 0% 50%;}
    50% {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}